<!DOCTYPE html>
<html>
  <head>
    <title>excel</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>EXCEL FILE</h1>
    <form action="/excel" enctype="multipart/form-data" method="POST"> 
      <input type="file" name="myFile" />
      <input type="submit" value="Upload a file"/>
   </form>
  </body>
</html>
